[Desktop Entry]
Name=Antigravity
Comment=Code editor.
Exec=antigravity
Icon=./icons/antigravity.png
Terminal=false
Type=Application
Categories=IDE;Development;
