[Desktop Entry]
Name=Antigravity
Comment=Code editor.
Exec=antigravity
Icon=/home/jacob/.local/share/applications/antigravity.png
Terminal=false
Type=Application
Categories=IDE;Development;
